



.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  border: 2px solid red;
}

.buttonWrap {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 2px solid white; */
  

}

.btn {
   width: 60px;
    height: 60px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    background-color: lightgray;
    border-radius: 10px; 
    
}

.calcBody {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(0, 0, 44);
  max-width: 40vh;
  padding: 5px; 
  box-sizing: border-box;
  width: 300px; 
  height: 550px; 
  overflow: hidden;
  
}

.inputBox {
  border: 2px solid white;
  width: 100%;
  height: 10%;
  color: white;
}